<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
<thead>
	<tr>
		<th colspan="5"><input st-search="" class="input-sm form-control" placeholder="admin filter ..." type="text"/></th>
	</tr>
    <tr>
      <th st-sort="email" st-skip-natural="true">Email</th>
      <th st-sort="display_name" st-skip-natural="true">Name</th>
      <th>
		<a ng-click="openAddAdmin()" tooltip-placement="left" tooltip="Create new admin user" >
		<i class="fa fa-plus" style="color:green"></i></a>
	  </th>  
    </tr>
</thead>
<tbody>
	<div class="row">
	<tr ng-repeat="row in displayedCollection">
		<td><a ng-click="openEditAdmin(row)" tooltip="Click to edit">
			<i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;{{row.email | lowercase}}</a>
		</td>
		<td>{{row.display_name}}</td>
        <td><a ng-click="deleteAdmin(row)"  
			tooltip="Delete admin user" tooltip-class="red-tooltip">
			<i class="fa fa-trash-o" style="color:red"></i></a>
		</td>
    </tr>
</tbody>
</table>
