<div class="row">
    <div class="col-xs-6">
		<div class="form-group" ng-class="error('email')">
			<label class="control-label">Email</label>
			<input type="text" name="email"
				class="form-control"
				ng-model="interpreter.email"></input>
			<span class="help-block"
		      	ng-show="form.email.$invalid && form.email.$dirty">
		      	email {{errorMessage('email')}}</span>
		</div>
	</div>	
	<div class="col-xs-6">
		<div class="form-group" ng-class="error('password')">
			<label class="control-label">Password</label>
			<input type="password" name="password"
				class="form-control"
				placeholder="********"
				ng-model="interpreter.password"></input>
			<span class="help-block"
		      	ng-show="form.password.$invalid && form.password.$dirty">
		      	password {{errorMessage('password')}}</span>
		</div>	
	</div>	
</div>	

<div class="row">
    <div class="col-xs-5">
		<div class="form-group" ng-class="error('first_name')">
			<label class="control-label">First</label>
			<input type="text" name="first_name"
				class="form-control"
				placeholder="Patrick"
				ng-model="interpreter.first_name"></input>
			<span class="help-block"
		      	ng-show="form.first_name.$invalid && form.first_name.$dirty">
		      	first_name {{errorMessage('first_name')}}</span>
		</div>	
	</div>
	<div class="col-xs-2"> 
		<div class="form-group" ng-class="error('middle_name')">
			<label class="control-label">Middle</label>
			<input type="text" name="middle_name"
				class="form-control"
				placeholder="J."
				ng-model="interpreter.middle_name"></input>
			<span class="help-block"
		      	ng-show="form.middle_name.$invalid && form.middle_name.$dirty">
		      	middle_name {{errorMessage('middle_name')}}</span>
		</div>
	</div>
	<div class="col-xs-5">    	
		<div class="form-group" ng-class="error('last_name')">
			<label class="control-label">Last</label>
			<input type="text" name="last_name"
				class="form-control"
				placeholder="Conley"
				ng-model="interpreter.last_name"></input>
			<span class="help-block"
		      	ng-show="form.last_name.$invalid && form.last_name.$dirty">
		      	last_name {{errorMessage('last_name')}}</span>
		</div>
	</div>
</div>
		
<div class="row">
    <div class="col-xs-6">
		<div class="form-group">
			<label class="control-label">Gender</label>
    		<select ng-model="interpreter.selectedGender" ng-options="gender as gender.name for gender in genders"></select>
		</div>
	</div>
    <div class="col-xs-6">
		<div class="form-group">
			<label class="control-label">Default Payrate ${{interpreter.default_payrate/100}}</label>
			<input type="text" name="last_name"
				class="form-control"
				placeholder="5000"
				ng-model="interpreter.default_payrate"></input>
			</div>	
		</div>	
	</div>	
</div>	
