<div class="modal-header">
	<h3 class="modal-title">Add New Customer</h3>
</div>
<div class="modal-body">
	<form ng-submit="add()" name="form" novalidate>
		<div class="form-group">
			<label>Company Name</label>
			<input type="text"
			class="form-control"
			placeholder="Altoona Hospital"
			ng-model="company_name"></input>
			<span class="help-block"
		      	ng-show="form.company_name.$invalid && form.company_name.$dirty">
		      	company name {{errorMessage('company_name')}}</span>
		</div>	
		<div class="form-group" ng-class="error('contact_name')">
			<label class="control-label">Contact Name</label>
			<input type="text" name="contact_name"
				class="form-control"
				placeholder="Jane Doe"
				ng-model="contact_name"></input>
			<span class="help-block"
		      	ng-show="form.contact_name.$invalid && form.contact_name.$dirty">
		      	&nbsp;&nbsp;contact name {{errorMessage('contact_name')}}</span>
		</div>	
		<div class="form-group">
			<label>Contact Email</label>
			<input type="text"
				class="form-control"
				placeholder="jane@gmail.com"
				ng-model="contact_email"></input>
			<span class="help-block"
			    ng-show="form.contact_email.$invalid && form.contact_email.$dirty">
			    contact email {{errorMessage('contact_email')}}</span>
		</div>
		<div class="form-group">
			<label>Contact Phone</label>
			<input type="text"
				class="form-control"
				placeholder="5855551212"
				ng-model="contact_phone"></input>
			<span class="help-block"
			    ng-show="form.contact_phone.$invalid && form.contact_phone.$dirty">
			    contact phone {{errorMessage('contact_phone')}}</span>	
		</div>
		<button ng-click="add()" type="button" class="btn btn-primary">Add Customer</button>
		<button ng-click="cancel()" type="button" class="btn btn-warning">Cancel</button>
	</form>
</div>
<div class="modal-footer">{{error_message}}</div>
