<h2>Customers</h2>

<div ng-include="'core/_alerts.html'"></div>

<table class="table table-striped">  <thead>
    <tr>
      <th>Requester</th>
      <th>Jobs</th>
      <th>Company</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers">
		<td>{{customer.contact_name}}</td>
		<td>0</td>
		<td><a ng-href="#/customers/{{customer.id}}">{{customer.company_name}}&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o"></i></a></td>
        <td><a class="btn btn-danger" ng-click="deleteCustomer(customer)">
			<i class="fa fa-trash-o"></i> 
			<span ng-show='desktop'>Delete</span></a>
		</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-default" ng-click="openAddCustomer()">Open Add Customer Modal</button>
