<div class="row">
<div class="col-xs-3">
	<a ui-sref="agency.customers">
	<div class="panel panel-primary">
    	<div class="panel-heading"><i class="fa fa-comments fa-2x"></i></div>
	</div>
	</a>
</div>
<div class="col-xs-3">
	<a ui-sref="agency.admins">
	<div class="panel panel-green">
    	<div class="panel-heading"><i class="fa fa-tasks fa-2x"></i></div>
	</div>
	</a>
</div>
<div class="col-xs-3">
	<a ui-sref="agency.interpreters">
	<div class="panel panel-yellow">
    	<div class="panel-heading"><i class="fa fa-shopping-cart fa-2x"></i></div>
	</div>
	</a>
</div>
<div class="col-xs-3">
	<a ui-sref="agency.jobs">
	<div class="panel panel-red">
    	<div class="panel-heading"><i class="fa fa-support fa-2x"></i></div>
	</div>
	</a>
</div>
</div>