<table st-table="displayedCollection" st-safe-src="customersCollection" class="table table-striped">
<thead>
	<tr>
		<th colspan="5"><input st-search="" class="input-sm form-control" placeholder="customer filter ..." type="text"/></th>
	</tr>
    <tr>
      <th st-sort="company_name" st-skip-natural="true">Company</th>
      <th st-sort="display_name" st-skip-natural="true">Contact</th>
      <th>
		<a ng-click="openAddCustomer()" tooltip-placement="left" tooltip="Create new customer user" >
		<i class="fa fa-plus" style="color:green"></i></a>
	  </th>  
    </tr>
</thead>
<tbody>
	<div class="row">
	<tr ng-repeat="row in displayedCollection">
		<td><a ng-click="openEditCustomer(row)" tooltip="Click to edit">
			<i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;{{row.company_name}}</a>
		</td>
		<td>{{row.contact_name}}</td>
        <td><a ng-click="deleteCustomer(row)"  
			tooltip="Delete customer" tooltip-class="red-tooltip">
			<i class="fa fa-trash-o" style="color:red"></i></a>
		</td>
    </tr>
</tbody>
<tfoot>
	<tr>
		<td colspan="5" class="text-center">
			<div st-pagination="" st-items-by-page="4" st-displayed-pages="10"></div>
		</td>
	</tr>
</tfoot>
</table>
