<div class="navbar-default sidebar" role="navigation" ng-controller="NavCtrl" >
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

			<li ui-sref-active="active"> <!-- Dashboard Menu Item -->
				<a ui-sref=".dashboard"><i class="fa fa-dashboard fa-fw"></i> Admin Dashboard</a>
			</li>	
		     
			<li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
            </li>
			<li> <!-- Jobs Menu Item -->
				<a ng-click="toggle('jobs')" >
					<i class="fa fa-calendar fa-fw"></i> Jobs Calendar
					<span ng-hide="isOpenItem('jobs')" class="fa fa-plus-square arrow"></span>
					<span ng-show="isOpenItem('jobs')" class="fa fa-minus-square arrow"></span>
				</a>
				<div ng-show="isOpenItem('jobs')" 
						class="nav nav-second-level well well-sm" 
						style="min-height:290px;">
			    	<datepicker ng-model="dt" min-date="minDate" show-weeks="false"
						custom-class="getDayClass(date, mode)">
					</datepicker>
					<br>
			    	<button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
			    	<button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
					<em>{{dt | date:'fullDate' }}</em>
				</div>

			</li>
			       
            <li> <!-- Reports Menu Item -->
                <a ng-click="toggle('reports')" >
					<i class="fa fa-files-o fa-fw"></i> Reports
					<span ng-hide="isOpenItem('reports')" class="fa fa-plus-square arrow"></span>
					<span ng-show="isOpenItem('reports')" class="fa fa-minus-square arrow"></span>
				</a>
                <ul ng-show="isOpenItem('reports')" class="nav nav-second-level">
				    <li><a href="#">Monthly Income</a></li>
				    <li><a href="#">Monthly Payroll</a></li>
				    <li><a href="#">Diversity</a></li>
				    <li><a href="#">Coverage</a></li>
                </ul>
            </li>
            <li> <!-- People Menu Item -->
                <a ng-click="toggle('users')" >
					<i class="fa fa-user fa-fw"></i> Users
					<span ng-hide="isOpenItem('users')" class="fa fa-plus-square arrow"></span>
					<span ng-show="isOpenItem('users')" class="fa fa-minus-square arrow"></span>
				</a>
                <ul ng-show="isOpenItem('users')" class="nav nav-second-level">
				    <li><a href="#">Interpreters</a></li>
				    <li ui-sref-active="active"><a ui-sref=".customers">Customers</a></li>	
				    <li><a href="#">Clients</a></li>
				    <li><a href="#">Admins</a></li>
                </ul>
            </li>
            <li> <!-- Tables Menu Item -->
                <a ng-click="toggle('tables')" >
					<i class="fa fa-table fa-fw"></i> Tables
					<span ng-hide="isOpenItem('tables')" class="fa fa-plus-square arrow"></span>
					<span ng-show="isOpenItem('tables')" class="fa fa-minus-square arrow"></span>
				</a>
                <ul ng-show="isOpenItem('tables')" class="nav nav-second-level">
				    <li><a href="#">Job Genres</a></li>
				    <li><a href="#">Holidays</a></li>
				    <li><a href="#">Colors</a></li>
				    <li><a href="#">More... </a></li>
                </ul>
            </li>
            <li> <!-- Elements Menu Item -->
                <a ng-click="toggle('elements')" >
					<i class="fa fa-wrench fa-fw"></i> UI Elements
					<span ng-hide="isOpenItem('elements')" class="fa fa-plus-square arrow"></span>
					<span ng-show="isOpenItem('elements')" class="fa fa-minus-square arrow"></span>
				</a>
                <ul  ng-show="isOpenItem('elements')" class="nav nav-second-level">
                    <li> <a href="#">Panels and Wells</a> </li>
                    <li> <a href="#">Buttons</a> </li>
                    <li> <a href="#">Notifications</a> </li>
                    <li> <a href="#">Typography</a> </li> 
					<li> <a href="#"> Icons</a> </li> 
					<li> <a href="#">Grid</a> </li>
                </ul>
            </li>
            <li> <!-- Multi-Level Menu Item -->
                <a ng-click="toggle('multi')" >
					<i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown
					<span ng-hide="isOpenItem('multi')" class="fa fa-plus-square arrow"></span>
					<span ng-show="isOpenItem('multi')" class="fa fa-minus-square arrow"></span>
				</a>
                <ul ng-show="isOpenItem('multi')" class="nav nav-second-level">
                    <li> <a href="#">Second Level Item</a> </li> 
					<li> <a href="#">Second Level Item</a> </li>
					<li> <!-- Third Level Menu Item -->
						<a ng-click="show3a = !show3a" ng-init="show3a=false">
							Third Level
							<span ng-hide='show3a' class="fa fa-plus-square-o arrow"></span>
							<span ng-show='show3a' class="fa fa-minus-square-o arrow"></span>
						</a>
                        <ul ng-show='show3a' class="nav nav-third-level">
                            <li> <a href="#">Third Level Item</a> </li> 
							<li> <a href="#">Third Level Item</a> </li> 
							<li> <a href="#">Third Level Item</a> </li> 
							<li> <a href="#">Third Level Item</a> </li>
						</ul>
                    </li>
                </ul>
            </li>
            <li> <!-- Download Menu Item -->
                <a ng-click="toggle('download')">
					<i class="fa fa-cloud-download fa-fw"></i> Downloads
					<span ng-hide="isOpenItem('download')" class="fa fa-plus-square arrow"></span>
					<span ng-show="isOpenItem('download')" class="fa fa-minus-square arrow"></span>
				</a>
                <ul  ng-show="isOpenItem('download')" class="nav nav-second-level">
                    <li> <a href="#">Music</a> </li>
                    <li> <a href="#">Pictures</a> </li>
                    <li> <a href="#">Data Files</a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
