/* Specify styling for tooltip contents */
 .tooltip.red-tooltip .tooltip-inner {
     color: white;
     background-color: red;
     box-shadow: 0 6px 12px rgba(0,0,0,.175);
 }
 .tooltip.red-tooltip .tooltip-arrow {
	border-bottom-color: #f00;
 }

.xed-tooltip + .tooltip.top > .tooltip-arrow {background-color: #f00;}

.xed-tooltip + .tooltip > .tooltip-arrow {border-bottom-color: #f00;}