<table st-table="displayedCollection" st-safe-src="rowsCollection" class="table table-condensed">
<thead>
	<tr>
		<th colspan="20"><input st-search="" class="input-sm form-control" placeholder="customer filter ..." type="text"/></th>
	</tr>
    <tr>
	  <th />
      <th st-sort="company_name" st-skip-natural="true">Company</th>
      <th st-sort="contact_name" st-skip-natural="true">Contact</th>
      <th><a ng-click="openAddCustomer()" tooltip-placement="left" tooltip="Create new customer user" >
		<i class="fa fa-plus" style="color:green"></i></a></th>
    </tr>
</thead>
<tbody>
	<div class="row">
	<tr class="topless" ng-repeat-start="row in displayedCollection" ng-class="{bold: row.showDetails}">
		<td>
			<a ng-click="toggleDetails(row)">
				<i ng-hide='row.showDetails' class="fa fa-chevron-right"></i>
				<i ng-show='row.showDetails'class="fa fa-chevron-down"></i>
			</a>
		</td>
		<td>{{row.company_name}}</td>
		<td>{{row.contact_name}}</td>
        <td>
			<a ng-click="openEditCustomer(row)" tooltip="Click to edit">
				<i class="fa fa-pencil-square-o"></i></a>
		</td>
		<td>		
			<a ng-click="deleteResource(row)" tooltip="Delete customer" tooltip-class="red-tooltip">
				<i class="fa fa-trash-o" style="color:red"></i></a>
		</td>
    </tr>
	<tr class="bold" ng-repeat-end ng-show='row.showDetails'>
		<td colspan='20' class="bold">
						
			<div class="panel panel-default">
				<div class="panel-heading">Billing Info</div>
			  	<div class="panel-body">
					{{row.billing.email}}
					{{row.billing.rate}}
			  	</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Contact Info</div>
			  	<div class="panel-body">
					{{row.contact_name}}
					{{row.contact_email}}
					{{row.contact_phone}}
			  	</div>
			</div>		
			<div class="panel panel-default">
				<div class="panel-heading">Links...</div>
			  	<div class="panel-body">
					<a ui-sref="agency.jobs">To Jobs...</a>
					<a ui-sref="agency.jobs">To Customers...</a>
					<a ui-sref="agency.jobs">To Interpreters...</a>
			  	</div>
			</div>		
					
		</td>
	</tr>
</tbody>
<tfoot>
	<tr>
		<td colspan="5" class="text-center">
			<div st-pagination="" st-items-by-page="4" st-displayed-pages="10"></div>
		</td>
	</tr>
</tfoot>
</table>
