<!DOCTYPE html>
<html ng-app="assign">
<head>
  <title>TerpSYS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainCtrl">
	<div class="container-fluid">
	<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
		<div ng-include="'core/_navbar.html'"></div>
		<div ng-hide="signedIn()">
			<ui-view></ui-view>
		</div>
		<div ng-show="signedIn()">
			<div ng-show="signedIn()">
				<div class="row">
			    	<div class="col-xs-4">
						<div ng-include="'home/_sidebar.html'"></div>
					</div>
					<div class="col-xs-8">
						<ui-view></ui-view>
					</div>
				</div>	
			</div>
		</div>
	</div>
	</div>
	</div>
</body>
</html>

